
<!-- footer-section start -->
<footer class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget-about">
                        <a class="logo"><img src="{{ asset('assets/images/logo.png') }}" alt="image"></a>
                        <ul class="address-list">
                            <li>Россия</li>
                            <li>example@gmail.com</li>
                        </ul>
                        <ul class="social-links d-flex">
                            <li><a href="#0"><i class=" fa fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class=" fa fa-twitter"></i></a></li>
                            <li><a href="#0"><i class=" fa fa-youtube"></i></a></li>
                            <li><a href="#0"><i class=" fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget widget-menu">
                        <h3 class="widget-title">Menu</h3>
                        <ul class="menu-links">
                            <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                            <li  ><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                            <li class="active"><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                            <li><a href="{{ path('result') }}">Результаты</a></li>
                            <li><a href="{{ path('contact') }}">Информация</a>
                            <li><a href="{{ path('about') }}">О нас</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget widget-menu">
                        <h3 class="widget-title">Информация</h3>
                        <ul class="menu-links">
                            <li><a href="{{ path('contact') }}">Контакты</a></li>
                            <li><a href="{{ path('policy') }}">Политика</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="footer-widget widget-subscribe">
                        <h3 class="widget-title">Подписывайтесь</h3>
                        <div class="widget-subscribe-body">
                            <p>Извините, рассылка находится в разработке ;(</p>
                            <form class="subscribe-form">
                                <input readonly type="email" name="subs-email" id="subs-email" class="subs-email" placeholder="Email адрес">
                                <input type="submit" value="Подписаться" class="sub-btn">
                            </form>
                            <p>Узнавай прогнозы и все самое интересное первым!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- footer-top end -->
    <div class="footer-bottom text-center">
        <div class="container">
            <p>2019 All Rights Reserved. Created by <a href="/">Butlar</a></p>
        </div>
    </div>
</footer>
<!-- footer-section end -->

<!-- scroll-to-top start -->
<div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-angle-up"></i>
    </span>
</div>
<!-- scroll-to-top end -->

<!-- main jquery library js file -->
<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
<!-- bootstrap js file -->
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<!-- slick slider js file -->
<script src="{{ asset('assets/js/slick.min.js') }}"></script>
<!-- lightcase js file -->
<script src="{{ asset('assets/js/lightcase.js') }}"></script>
<!-- wow js file -->
<script src="{{ asset('assets/js/wow.min.js') }}"></script>
<!-- tweenmax js file -->
<script src='{{ asset('assets/js/TweenMax.min.js') }}'></script>
<!-- main js file -->
<script src="{{ asset('assets/js/bookmakerTable.js') }}"> </script>
<script src="{{ asset('assets/js/main.js') }}"></script>


</body>
</html>