{% include 'usual_template/header.html.twig' %}



<title>О нас. Контакты рейтинга киберспортивных букмекеров.</title>

<meta name="description" content="Контактная информация администраторов сайта Cyber Rating.">

<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href="/">Cyberrating.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li  ><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li class="menu_has_children"><a href="#">Новости/прогнозы</a>
                            <ul class="sub-menu">
                                <li ><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                                <li><a href="{{ path('forecast') }}">Прогнозы</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('bonus') }}">Бонусы</a></li>
                        <li><a href="{{ path('match_result') }}">Результаты матчей</a></li>
                        <li class="menu_has_children"><a href="#">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>
                        <li class="active"><a href="{{ path('about') }}">О нас</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">О нас</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Домой</a></li>
                            <li class="breadcrumb-item active">О нас</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- about-section start -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-thumb">
                    <img src="assets/images/about-img.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about-content">
                    <h2 class="title">Сайт <a href="/">Cyberrating.</a></h2>
                    <p>Количество букмекерских компаний, которые дают возможность делать ставки на громкие киберспортивные события, растет. Формируется рынок компаний, у которых уровень сервиса и, в целом, качество предлагаемых услуг разнится. Каждый игрок хочет делать ставки у надежного партнера, который не преподнесет неприятных сюрпризов в самый неподходящий момент. Поэтому для пользователей, интересующихся киберспортом, был создан наш информационный сайт. Мы являемся независимым ресурсом, который формирует рейтинги честным образом.</p>

                       <p>Пользователи, которые работают с тем или иным букмекером, имеют возможность оставить отзыв на сайте о своем партнере. Это позволяет другим пользователям определиться, с каким букмекером можно без негативных последствий для себя сотрудничать. Сайт создан без поддержки букмекерских компаний. Все отзывы проходят модерацию. Поэтому у нас вы можете ознакомиться с правдивым и корректным мнением о компаниях. Настоятельно рекомендуем изучить рейтинги букмекеров, прежде чем делать свой выбор в пользу определенного партнера. Рейтинги регулярно обновляются, а количество отзывов о букмекерах растет.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->




{% include 'usual_template/footer.html.twig' %}