{% include 'usual_template/header.html.twig' %}


<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href=""><img src="assets/images/logo.png" alt="site-logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li  ><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li ><a href="{{ path('news') }}">Новости</a></li>
                        <li ><a href="{{ path('result') }}">Результаты</a></li>
                        <li class="active"><a href="">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <li><a href="{{ path('about') }}">О нас</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Privacy & Policies</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">home</a></li>
                            <li class="breadcrumb-item active">Privacy & Policies</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<section class="privacy-section section-padding">
    <div class="container">
        <div class="row mt-mb-15">
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Development courses in here?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy feugiat vel, tincidunt lacus etiam nibh ut. Nullam odio, vivamus dui rhoncus tincidunt magna ante. Aut adipiscing eu ac turpis nulla, justo vitae. </p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Quisque sit vitae nam quis inceptos?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhcueget, ante posuere risus wisi nonummy feugiat. vulputate ipsum portticenas viverra ipsum. Ligula massa, hendrerit magna ornare odio pede, nec ad ut maecenas semper cras eros, sed duis nunc.</p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Officia sed eu magnis phasellus?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy.</p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Pellentesque integer vitae. sapien?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy feugiat. </p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Suscipit dapibus euismod feugiat lobortis?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy feugiat vel, tincidunt lacus etiam nibh ut. Nullam odio, vivamus dui rhoncus tincidunt magna ante. Aut adipiscing eu ac turpis nulla, justo vitae. </p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Suscipit dapibus euismod feugiat vulputate?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy feugiat vel, tincidunt lacus etiam nibh ut. Nullam odio, vivamus dui rhoncus tincidunt magna ante. Aut adipiscing eu ac turpis nulla, justo vitae. Donec donec.</p>
                </div>
            </div><!-- faq-item end -->
            <div class="col-lg-6">
                <div class="privacy-item">
                    <h4 class="title">Justo et laoreet aut donec tristique?</h4>
                    <p>lpsum luctus dolor sunt maecenas cras, suspendisse lobortis, rhoncus eget, ante posuere risus wisi nonummy feugiat.Sapien non arcu donec, erat consectetuer congue, auctor amet, donec arcu leo felis dapibus, non leo eget dolor modi vel. Sit vel nisl sociis rhoncus turpis.</p>
                </div>
            </div><!-- faq-item end -->
        </div>
    </div>
</section>

<!-- footer-section start -->
<footer class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget widget-about">
                        <a class="logo"><img src="assets/images/logo.png" alt="image"></a>
                        <ul class="address-list">
                            <li>9288 Peninsula Court Meriden, CT 06450</li>
                            <li>demo@demomail.com</li>
                            <li>+01-1234-9876</li>
                        </ul>
                        <ul class="social-links d-flex">
                            <li><a href="privacy.html#0"><i class=" fa fa-facebook-f"></i></a></li>
                            <li><a href="privacy.html#0"><i class=" fa fa-twitter"></i></a></li>
                            <li><a href="privacy.html#0"><i class=" fa fa-youtube"></i></a></li>
                            <li><a href="privacy.html#0"><i class=" fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget widget-menu">
                        <h3 class="widget-title">Menu</h3>
                        <ul class="menu-links">
                            <li><a href="privacy.html#">Home</a></li>
                            <li><a href="privacy.html#">Sports</a></li>
                            <li><a href="privacy.html#">In-play</a></li>
                            <li><a href="privacy.html#">Promotions</a></li>
                            <li><a href="privacy.html#">Statisti</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget widget-menu">
                        <h3 class="widget-title">Menu</h3>
                        <ul class="menu-links">
                            <li><a href="privacy.html#">About Us</a></li>
                            <li><a href="privacy.html#">Blog</a></li>
                            <li><a href="privacy.html#">Blog Details</a></li>
                            <li><a href="privacy.html#">Service</a></li>
                            <li><a href="privacy.html#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="footer-widget widget-subscribe">
                        <h3 class="widget-title">subscribe</h3>
                        <div class="widget-subscribe-body">
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                            <form class="subscribe-form">
                                <input type="email" name="subs-email" id="subs-email" class="subs-email" placeholder="Email Address">
                                <input type="submit" value="Subscribe" class="sub-btn">
                            </form>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- footer-top end -->
    <div class="footer-bottom text-center">
        <div class="container">
            <p>2019 All Rights Reserved. - Created by <a href="">Butlar</a></p>
        </div>
    </div>
</footer>
<!-- footer-section end -->
{% include 'usual_template/footer.html.twig' %}