
{% include 'usual_template/header.html.twig' %}

<title>Топ букмекеров принимающих ставки на киберспорт</title>

<meta name="description" content="Рейтинг и отзывы о букмекерах принимающих ставки на киберспортивные события. Обзор бонусов и событий киберспорта.">


<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href=""><img src="assets/images/logo.png" alt="site-logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li class="active"><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li ><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                        <li><a href="{{ path('result') }}">Коэффициенты</a></li>
                        <li><a href="{{ path('match_result') }}">Результаты матчей</a></li>
                        <li class="menu_has_children"><a href="#">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>
                        <li><a href="{{ path('about') }}">О нас</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Рейтинг букмекеров</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домой</a></li>
                            <li class="breadcrumb-item active">Рейтинг букмекеров</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->


<!-- play-section start -->
<section class="play-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">Ставь & Играй сейчас</h2>
                    <p>Здесь представлены букмекерские конторы, которые принимают ставки на киберспортивные соревнования, то есть турниры по сетевым компьютерным играм..</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="online-play-tab-part">
                    <ul class="nav justify-content-around" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
                                <i ><img style="height: 30px;" src="https://image.flaticon.com/icons/svg/141/141073.svg"></i>
                                <span>Все</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Dota 2" data-toggle="tab" href="#football" role="tab" aria-controls="football" aria-selected="false">
                                <i><img style="height: 30px;" src="https://image.flaticon.com/icons/svg/588/588308.svg"></i>
                                <span>Dota 2</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="CS:GO" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket" aria-selected="false">
                                <i><img style="height: 30px;" src="https://c1.staticflickr.com/9/8398/29628694882_8eed12375e.jpg"></i>
                                <span>Counter Strike</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Starcraft 2" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis" aria-selected="false">
                                <i><img style="height: 30px;" src="http://pngimg.com/uploads/starcraft/starcraft_PNG79.png"></i>
                                <span>Starcraft 2</span>
                            </a>
                        </li>

                    </ul>


                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr class="table-head">
                            <th>Букмекер</th>
                            <th>Страница</th>
                            <th>Рейтинг</th>
                        </tr>
                        </thead>
                        <tbody class="table-self">
                        <tr>
                            <td>Париматч</td>
                            <td>

                                <button type="button" class="btn btn-danger center-block"><a href="">Отзывы</a></button>


                            </td>
                            <td>

                                <i class="fa fa-star" style="color: #FFD700;" aria-hidden="true"></i>


                            </td>

                        </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
</section>
<!-- play-section end -->



{% include 'usual_template/footer.html.twig' %}

<script src="{{ asset('assets/js/bookmakerTable.js') }}"> </script>