{% include 'usual_template/header.html.twig' %}

<title>Результаты киберспорт онлайн | Топовые события на сегодня</title>

<meta name="description" content="Самые актуальные и предстоящие события в мире киберспорта. Онлайн результаты матчей дота, кс, старкрафт. Обзор игр команд Virtus Pro, Navi и других.">

<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href="/">Cyberrating.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li  ><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li class="menu_has_children"><a href="#">Новости/прогнозы</a>
                            <ul class="sub-menu">
                                <li ><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                                <li><a href="{{ path('forecast') }}">Прогнозы</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('bonus') }}">Бонусы</a></li>
                        <li class="menu_has_children"><a href="#">Матчи/Коэффициенты</a>
                            <ul class="sub-menu">
                                <li class="active"><a href="{{ path('match_result') }}">Результаты матчей</a></li>
                                <li ><a href="{{ path('coef') }}">Коэффициенты</a></li>
                            </ul>
                        </li>
                        <li class="menu_has_children"><a href="#">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>
                        <li><a href="{{ path('about') }}">О нас</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Результат</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домой</a></li>
                            <li class="breadcrumb-item active">Результат</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<div class="col-md-12 col-lg-12 d-flex justify-content-around">

    <div class="time_machine ">
        <button type="button" id="uifweeuwhiowef" data-time="past" class="btn btn-danger center-block">Прошедшие</button>
        <button type="button" data-time="active" class="btn btn-danger center-block">Текущие</button>
        <button type="button" data-time="future" class="btn btn-danger center-block">Будующие</button>
    </div>



</div>

<!-- result-section start -->
<section class="result-section section-padding">

    <div class="container">
        <div id="jqueryAdd" class="row justify-content-center">

            <img id="resultPreloader" src="{{ asset('assets/images/tablePreloader.gif') }}">

        </div>
        <div class="row mt-mb-15">


        </div>
    </div>
</section>
<!-- result-section end -->

<p style="background-color: #ffffff;;     padding: 16px 35px;">
    Количество киберспортивных матчей ежегодно увеличивается. Проводятся как мировые, так и менее масштабные состязания в киберспорте. Растет и количество поклонников, ценителей востребованных компьютерных игр, которые с удовольствием наблюдают за работой популярных геймеров. В данном разделе вы сможете ознакомиться с результатами киберспортивных матчей различных масштабов. Мы публикуем информацию о результатах абсолютно всех турниров. Даже если вы интересуетесь малозначимыми событиями в киберспортивной индустрии, текущий раздел будет полезен вам к ознакомлению.

</p>

<button class="accordion-self">▼</button>
<div class="panel-self">

    <h3>Актуальные результаты киберспортивных матчей</h3>

    <p>Результаты обновляются в автоматическом режиме без действий со стороны пользователей. Вся информация поступает в данный раздел своевременно и без опозданий. Поэтому пользователи получают только актуальные данные о киберспортивных состязаниях.
    </p>

    <p>

        Данный раздел будет полезен любителям ставок на спорт. Так как после совершения ставки большинство пользователей внимательно отслеживают результаты игры. На нашем сайте это делать удобнее всего. Мы публикуем результаты самых различных матчей — начиная от CS: GO, заканчивая легендарной игрой DOTA и другими игровыми проектами, имеющими аналогичную популярность. У нас исключительно точная информация по каждому турниру по киберспорту. Присутствует детальная роспись каждого события. Вы можете ознакомиться с информацией о командах, их положением в турнирной таблице. Для вас доступны актуальные составы, происходящие замены и так далее. Это ключевая информация, с которой работают капперы. Обновлять страницу для получения актуальных данных не нужно — это делает система автоматически. Мы сделали все возможное, чтобы ознакомление с результатами киберспортивных матчей не вызывало у вас трудностей.

    </p>

    <h3>Результаты матчей игр по киберспорту
    </h3>

    <p>Даже если вы не делаете ставки на киберспорт, данная категория будет вам полезна при наличии заинтересованности в игре громких команд. Здесь вы всегда сможете узнать, как в очередной раз выступила интересующая вас команда, в каком составе она играет и т. д. Заинтересованным пользователям в командах по Overwatch, League of Legends, SC2 рекомендуем регулярно знакомиться с результатами матчей, чтобы не пропустить важные события в стремительно развивающемся мире киберспорта.
    </p>
    <br>
</div>

{% include 'usual_template/footer.html.twig' %}

<script src="{{ asset('assets/js/matchResult.js') }}"></script>
