
{% include 'usual_template/header.html.twig' %}

<title>Прогнозы на киберспорт | cyberrating.ru</title>

<meta name="description" content="Ставки на киберспорт, прогнозы на киберспорт.">


<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href="/">Cyberrating.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li class="active"><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li class="menu_has_children"><a href="#">Новости/прогнозы</a>
                            <ul class="sub-menu">
                                <li ><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                                <li><a href="{{ path('forecast') }}">Прогнозы</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('bonus') }}">Бонусы</a></li>
                        <li class="menu_has_children"><a href="#">Матчи/Коэффициенты</a>
                            <ul class="sub-menu">
                                <li ><a href="{{ path('match_result') }}">Результаты матчей</a></li>
                                <li ><a href="{{ path('coef') }}">Коэффициенты</a></li>
                            </ul>
                        </li>
                        <li class="menu_has_children"><a href="#">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>

                            </ul>
                        </li>
                        <li><a href="{{ path('about') }}">О нас</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Прогнозы</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домой</a></li>
                            <li class="breadcrumb-item active">Прогнозы</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->




<!-- play-section start -->
<section class="play-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">Ставь & Выигрывай</h2>
                    <p>Ставь по правильным прогнозам</p>
                </div>
                <a style="margin-bottom: 25px;" href="https://ggbetpromo.com/l/5d3f9dbd28c43f10615dfc0a"><img src="https://ggbetpromo.com/upload_dynamics/1511794967c2f7739453d170663c3e.jpg" alt=""></a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive" style="max-width: 100%; overflow: auto;">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr style="text-align: center" class="table-head">
                        <th>###</th>
                        <th>Команда 1</th>
                        <th>Команда 2</th>
                        <th>Дата</th>
                        <th>Прогноз</th>
                    </tr>
                    </thead>
                    <tbody class="table-self">
                    {% for i in 1..dbData|length-1 %}
                    <tr>

                        <td>
                            <img class="forecast" src="{{ asset(dbData[i].getGame )}}">

                        </td>

                        <td>
                            {{ dbData[i].getTeam1 }}

                        </td>

                        <td>
                            {{ dbData[i].getTeam2 }}
                        </td>

                        <td>
                            {{ dbData[i].getDate }}
                        </td>

                        <td>
                            {{ dbData[i].getScore }}
                        </td>


                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                </div>

            </div>
        </div>


    </div>
</section>
<!-- play-section end -->



<p style="background-color: #ffffff;;     padding: 16px 35px;">    Если вам интересны ставки на киберспорт, то стоит рассмотреть их не только как интересное увлечение, но и возможность зарабатывать хорошие деньги. Как правило, у обычного пользователя нет массы времени для составления прогнозов на киберспорт. Более того, с данной задачей в принципе один человек справиться не может. Так как это масштабная аналитическая работа, с которой уверенно может справиться исключительно команда специалистов. Если вы сомневаетесь в своих ставках, наши прогнозы на киберспорт — ваша возможность не терять деньги на ставках, а зарабатывать их.</p>
<button class="accordion-self">▼</button>
<div class="panel-self">


    <h3>
        Лучшие прогнозы на киберспорт 24/7
    </h3>

    <p>
        В отличие от многочисленных других сайтов, мы предоставляем пользователям только проверенную специалистами информацию. Вы можете не сомневаться в качестве прогнозов на киберспорт. Так как мы не просто предоставляем их посетителям, но и сами руководствуемся данной информацией, делая ставки. Пользователи выбирают составленные нами прогнозы по следующим причинам:
    </p>

    <p>

        • Над ними работает профессиональный коллектив, который анализирует огромное количество информации;
        • Прогнозы на киберспорт обновляются каждый час. Поэтому пользователи получают только актуальную информацию без исключений;
        • Широкий выбор прогнозов. Вам не составит труда сделать ставку на интересующий матч, так как на него гарантированно будет предоставлен прогноз.
    </p>

    <h3>


        Бывают ли 100% прогнозы на спорт?

    </h3>


    <p>

        В интернете не составит труда найти различные источники, утверждающие, что они предоставляют гарантированно выигрышные прогнозы на киберспорт. Конечно же, это обман. Потому что 100% гарантию можно предоставить только на договорные матчи. А в киберспорте они редкость, если не отсутствуют вовсе.    </p>

    <br>

       <p> Но это не говорит о том, что прогнозам на киберспорт доверять не стоит. Доверять можно, но исключительно тем, которые гарантируют высокую вероятность победы, которая может достигать 90% и более. Таким образом, играя на длительной дистанции, вы гарантированно заработаете денег. Если 1, 2 или даже 3 ставки из 10-15 не пройдут, по итогу вы сможете значительно увеличить свой капитал.    </p>

    <br>

    <p> Мы не обманываем аудиторию и не говорим о том, что с нами вы будете зарабатывать на абсолютно каждой ставке. Наша команда рекомендует лишь прислушиваться к мнению профессионалов. Имея на руках качественные прогнозы, вы сводите практически до нуля риски потерять баланс.    </p>




</div>

<br>

{% include 'usual_template/footer.html.twig' %}
