
{% include 'usual_template/header.html.twig' %}

<title>Топ букмекеров принимающих ставки на киберспорт</title>

<meta name="description" content="Рейтинг и отзывы о букмекерах принимающих ставки на киберспортивные события. Обзор бонусов и событий киберспорта.">


<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href="/">Cyberrating.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li class="active"><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li class="menu_has_children"><a href="#">Новости/прогнозы</a>
                            <ul class="sub-menu">
                                <li ><a href="{{ path('news', {'page': 1}) }}">Новости</a></li>
                                <li><a href="{{ path('forecast') }}">Прогнозы</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('bonus') }}">Бонусы</a></li>
                        <li><a href="{{ path('match_result') }}">Результаты матчей</a></li>

                        <li class="menu_has_children"><a href="#">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>
                        <li><a href="{{ path('about') }}">О нас</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Прогнозы</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Домой</a></li>
                            <li class="breadcrumb-item active">Прогнозы</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->




<!-- play-section start -->
<section class="play-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <h2 class="section-title">Ставь & Выигрывай</h2>
                    <p>Ставь по правильным прогнозам</p>
                </div>
                <a style="margin-bottom: 25px;" href=""><img src="https://ggbetpromo.com/upload_dynamics/1511794967c2f7739453d170663c3e.jpg" alt=""></a>
            </div>
            {#                        TODO добавить реферальную ссылку#}
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive" style="max-width: 100%; overflow: auto;">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr style="text-align: center" class="table-head">
                        <th>###</th>
                        <th>Команда 1</th>
                        <th>Команда 2</th>
                        <th>Дата</th>
                        <th>Прогноз</th>
                    </tr>
                    </thead>
                    <tbody class="table-self">
                    {% for i in 1..dbData|length-1 %}
                    <tr>

                        <td>
                            <img class="forecast" src="{{ asset(dbData[i].getGame )}}">

                        </td>

                        <td>
                            {{ dbData[i].getTeam1 }}

                        </td>

                        <td>
                            {{ dbData[i].getTeam2 }}
                        </td>

                        <td>
                            {{ dbData[i].getDate }}
                        </td>

                        <td>
                            {{ dbData[i].getScore }}
                        </td>


                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                </div>

            </div>
        </div>


    </div>
</section>
<!-- play-section end -->



{% include 'usual_template/footer.html.twig' %}
