{% include 'usual_template/header.html.twig' %}
<!-- preloader start -->
<div id="preloader"></div>
<!-- preloader end -->

<div class="custom-cursor"></div>
<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="site-logo site-title" href=""><img src="assets/images/logo.png" alt="site-logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li ><a href="{{ path('mainpage') }}">Главная</a></li>
                        <li  ><a href="{{ path('bookmakerlist') }}">Букмекеры</a></li>
                        <li class="active"><a href="{{ path('news') }}">Новости</a></li>
                        <li><a href="{{ path('result') }}">Результаты</a></li>
                        <li><a href="">Информация</a>
                            <ul class="sub-menu">
                                <li><a href="{{ path('contact') }}">Контакты</a></li>
                                <li><a href="{{ path('policy') }}">Политика</a></li>
                                <li><a href="{{ path('about') }}">О нас</a></li>
                                <!-- <li><a href="service.html">Services</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="registration.html">Registration</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error-404.html">ERROR Page</a></li> -->
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="breadcum-section">
    <div class="breadcum-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcum-content text-center">
                        <h3 class="title">Blog</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">home</a></li>
                            <li class="breadcrumb-item active">blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- blog-section start -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row mt-mb-15">
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/1.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Turn Your Bet Into A High Performing Machine</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/2.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">BET Is Crucial To Your Business. Learn Why!</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/3.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Why Most People Will Never Be Great At BET</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/4.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Turn Your Bet Into A High Performing Machine</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/5.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">BET Is Crucial To Your Business. Learn Why!</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/6.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Why Most People Will Never Be Great At BET</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/7.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Turn Your Bet Into A High Performing Machine</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/8.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">BET Is Crucial To Your Business. Learn Why!</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
            <div class="col-lg-4 col-sm-6">
                <div class="post-item">
                    <div class="thumb">
                        <img src="assets/images/blog/9.jpg" alt="image">
                    </div>
                    <div class="content">
                        <ul class="post-meta">
                            <li><a href="blog.html#"><i class="fa fa-calendar"></i>04, March, 2019</a></li>
                        </ul>
                        <h5 class="post-title"><a href="blog.html#0">Why Most People Will Never Be Great At BET</a></h5>
                        <p>No depending be convinced in unfeeling he. Excellence she unaffected and too sentiments her.</p>
                    </div>
                </div>
            </div><!-- post-item end -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="d-pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="blog.html#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="blog.html#">1</a></li>
                        <li class="page-item"><a class="page-link" href="blog.html#">2</a></li>
                        <li class="page-item"><a class="page-link" href="blog.html#">3</a></li>
                        <li class="page-item"><a class="page-link" href="blog.html#">4</a></li>
                        <li class="page-item"><a class="page-link" href="blog.html#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- blog-section end -->
{% include 'usual_template/footer.html.twig' %}